export(did_imputation)
export(did_imputation_kyle)
export(did_imputation_python)
export(event_plot)
export(glance)
export(tidy)
export(upgrade_didbjs_object)
S3method(as.data.frame,didbjs)
S3method(coef,didbjs)
S3method(glance,didbjs)
S3method(plot,didbjs_event_plot)
S3method(print,didbjs)
S3method(print,didbjs_event_plot)
S3method(print,summary.didbjs)
S3method(summary,didbjs)
S3method(tidy,didbjs)
S3method(vcov,didbjs)
importFrom(stats,predict)
importFrom(stats,qnorm)
importFrom(utils,capture.output)
import(data.table)
